@model BookViewModel

<div class="form-container">
    <h3>Добавить книгу</h3>
    <form class="form-text" asp-area="" asp-controller="Book" asp-action="AddBook" method="post">
        <div align="left">
            <label asp-for="Title">Название книги<sup>*</sup></label>
            <input class="form-control" asp-for="Title" type="text" />
            <span class="validation-message" asp-validation-for="Title"></span>
        </div>
        <div align="left">
            <label asp-for="Authors">Авторы<sup>*</sup></label>
            <input class="form-control" type="text" />
            <span class="validation-message" asp-validation-for="Authors"></span>
        </div>
        <div align="left">
            <label asp-for="PublicationDate">Дата издания<sup>*</sup></label>
            <input id="date" class="form-control" asp-for="PublicationDate" type="date" value="" />
            <span class="validation-message" asp-validation-for="PublicationDate"></span>
        </div>
        <div align="left">
            <label asp-for="Price">Цена<sup>*</sup></label>
            <input class="form-control" asp-for="Price" type="text" />
            <span class="validation-message" asp-validation-for="Price"></span>
        </div>
        <div align="left">
            <label asp-for="ImagePath">Путь до изображения</label>
            <input class="form-control" asp-for="ImagePath" type="file" />
            <span class="validation-message" asp-validation-for="ImagePath"></span>
        </div>
        <div align="left">
            <label asp-for="Description">Описание</label>
            <textarea class="form-control" asp-for="Description" type="text"></textarea>
            <span class="validation-message" asp-validation-for="Description"></span>
        </div>
        <br />
        <div>
            <button class="btn btn-outline-primary" type="submit">Добавить</button>
        </div>
        <br />
    </form>
</div>

