@model IList<ReviewViewModel>

<h2>Комментарии</h2>
@if (Model.Any())
{
    <table class="table table-info table-hover">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Книга</th>
                <th>Комментарий</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td>
                        UserID:@comment.UserId
                        Login:@comment.User.Login
                        Email:@comment.User.Email
                    </td>
                    <td>
                        BookId:@comment.BookId
                    </td>
                    <td>
                        @comment.Text
                    </td>
                    <td>
                        @comment.CreationDate.ToShortDateString()
                    </td>
                    <td>
                        <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@comment.Id" class="btn btn-outline-danger">x</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Комментариев пока нет...</p>
}

