@model IList<ReviewViewModel>

<table class="table table-info table-hover">
    <thead>
        <tr>
            <td>Пользователь</td>
            <td>Книга</td>
            <td>Комментарий</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <th>
                    <p>UserID:@comment.UserId</p>
                    <p>Login:@comment.User.Login</p>
                    <p>Email:@comment.User.Email</p>
                </th>
                <th>
                    <p>BookId:@comment.BookId</p>
                </th>
                <th>
                    <p>@comment.Text</p>
                </th>
                <th>
                    <p>@comment.CreationDate.ToShortDateString()</p>
                </th>
                <th>
                    <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@comment.Id" class="btn btn-outline-danger">x</a>
                </th>
            </tr>
        }       
    </tbody>
</table>
