@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="ad-carousel">
        <div class="slider">
            <a asp-controller="Book" asp-action="Index"><img src="~/img/banner-witcher.jpg" /></a>
            <a><img src="https://ru-wotp.lesta.ru/dcont/fb/image/moon_rose_light.jpg" /></a>
            <a><img src="https://img.freepik.com/free-photo/young-caucasian-woman-holding-book-covering-mouth-with-hand-shocked-and-afraid-for-mistake-surprised-expression_839833-14683.jpg?w=900&t=st=1694361196~exp=1694361796~hmac=c7fd6f7277032f5f86e7732466dcdc1fc6197fbe0df756d4a07b13838f71fa40" /></a>
            <a><img src="https://img.freepik.com/premium-photo/a-little-boy-sits-in-a-stack-of-books-with-the-words-magic-on-the-bottom_81048-241.jpg?w=740" /></a>
        </div>
        <button class="prev-button" title="Посмотреть предыдущий слайд">&lang;</button>
        <button class="next-button" title="Посмотреть следующий слайд">&rang;</button>
    </div>
</div>

