@model IEnumerable<BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="ad-carousel">
        <div class="slider">
            @foreach (var book in Model)
            {
                <img src="~/img/@book.ImagePath" />
            }
        </div>
        <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lang;</button>
        <button class="next-button" aria-label="Посмотреть следующий слайд">&rang;</button>
    </div>
</div>

