@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="ad-carousel">
        <div class="slider">
            <a asp-controller="Book" asp-action="Index"><img src="~/img/banner-witcher.jpg" /></a>
        </div>
        <button class="prev-button" title="Посмотреть предыдущий слайд">&lang;</button>
        <button class="next-button" title="Посмотреть следующий слайд">&rang;</button>
    </div>
</div>

