@model IList<CategoryViewModel>

@if(Model != null && Model.Any())
{  
    @foreach (var category in Model)
    {
        <li>
            <a asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="@category.Name" class="dropdown-item">@category.Name</a>
        </li>
    }
}