@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f1f1f1;
    font-family: 'Roboto Mono', monospace;
}

.validation-message {
    color: red;
}

.form-container {
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    padding: 10px;
    background-color: lightblue;
    width: 600px
}

.category {
    display: flex;
    margin: 25px;
    border-radius: 10px;
    background-color: orange;
    padding: 5px;
    width: max-content;
}

.ad-carousel {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    background-color: fuchsia;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

    .slider img {
        width: 40%;
        height: 90%;
        object-fit: cover;
        margin: 20px 45px;
        border-radius: 5px;
    }

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: auto;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.registration-container {
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 400px;
    background-color: #a5b4cf;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    align-self:center;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .nav li {
        float: left;
    }

.color {
    background-color: orange;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:768px;
    margin:15px;
}

.genre-tag {
    display: inline-block;
    background-color: #FF8C00;
    font-size:13px;
    color: #222;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.comment-input {
    border:hidden;
    width:inherit;
    height: 120px;
    padding: 5px;
}
.comment-area {
    background-color: lightblue;
    padding-left:10px;
    border-radius: 20px;
}

.search-button {
    background: none;
    border: none;
}

    .search-button:hover img {
        width: auto;
        height: 29px;
    }

.account-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.account-list li {
    position: relative; /* доделать список регистрации*/
}

.personal-account:hover {
    opacity:0.8;
}