@model RegistrationViewModel
@{
    ViewData["Title"] = "RegisterUser";
}

<div class="registration-container">
    <h3>РЕГИСТРАЦИЯ</h3>
    <form asp-controller="Accont" asp-action="RegisterUser" method="post">
        <div align="left">
            <label class="form-label" asp-for="Login">Введите ваше имя</label>
            <input class="form-control" asp-for="Login" type="text"/>
            <span asp-validation-for="Login" class="validation-message"></span>
        </div>
        <div align="left">
            <label class="form-label" asp-for="Email">Email адрес</label>
            <input class="form-control" asp-for="Email" type="email"/>
            <span asp-validation-for="Email" class="validation-message"></span>
        </div>
        <div align="left">
            <label class="form-label" asp-for="Password">Пороль</label>
            <input class="form-control" asp-for="Password" type="password"/>
            <span asp-validation-for="Password" class="validation-message"></span>
        </div>
        <br />
        <div>
            <button class="btn btn-outline-dark btn-lg" 
                    asp-controller="Account" asp-action="RegisterUser" 
                    type="submit">Зарегистрироваться</button>

            <a class="btn btn-outline-dark"
               asp-controller="Account" asp-action="SignIn">Войти</a>
        </div>
    </form>
</div>



