@model IList<BookViewModel>
@{
    ViewData["Title"] = "GetBasket";
    decimal totalPrice = 0;
    Model.Aggregate(totalPrice, (acc, book) => totalPrice+=book.Price);
}

<div class="container-fluid">
    @if (Model.Any())
    {
        <p>Товары:</p>
        <ul class="list-group">
            @foreach (var book in Model)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="~/img/@book.ImagePath" width="80" />
                        </div>
                        <div class="col-md-10">
                            <h6>Название: @book.Title</h6>
                            <p>Цена: @book.Price Руб.</p>
                        </div>
                        <div class="col-md-1">
                            <a asp-controller="Basket" asp-action="DeleteFromBasket" asp-route-bookId="@book.Id" class="btn btn-outline-danger">X</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="container">
            <p>Общая стоимость заказа:</p>
            <h2>@totalPrice Руб.</h2>
            <span>
                <button class="btn btn-outline-success btn-lg">Оформить</button>
            </span>
        </div>
        <br />
    }
    else
    {
        <h3>Пока корзина пуста</h3>
    }
</div>

