<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    <div id="main-container" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal">
        <div class="modal-header">
            <p>Сделать заказ</p>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger" 
                data-bs-dismis="close">Закрыть</button>
        </div>
    </div>
    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
