<header>
    <div class="logo-container">
        <div>
            <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 30px;">
                <img src="~/img/logo.png" width="100" title="Главная страница" alt="logo.ico" />
                <strong>BOOK</strong>STORE
            </a>
        </div>
        <div>
            <form asp-controller="Book" asp-action="GetFilteredBooks" method="post">
                <span class="input-group rounded">
                    <input id="search-books" type="search" name="key" class="form-control rounded" placeholder="Введите название книги или автора" style="min-width:360px;" />
                    <button class="search-button" type="submit">
                        <img src="~/img/search-ico.png" width="30" title="Поиск" alt="search.ico" />
                    </button>
                </span>
            </form>
        </div>
        <div>
            @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <div class="dropdown">
                        <a class="nav-link text-dark dropdown-toggle"
                           data-bs-toggle="dropdown" href="#">
                            Админ
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="Book" asp-action="GetBooks">Книги</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="Book" asp-action="AddBook">Добавить книгу</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="Author" asp-action="AddAuthor">Добавить автора</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="Category" asp-action="AddCategory">Добавить категорию</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="Order" asp-action="GetOrders">Заказы</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="User" asp-action="GetUsers">Пользователи</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="btn btn-link text-dark text-decoration-none" asp-controller="Review" asp-action="GetCommentsForAdmin">Комментарии</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a asp-controller="User" asp-action="GetUser" class="nav-link text-decoration-underline" title="Личный кабинет">Личный кабинет</a>
                }
            }
        </div>
        <div class="basket">
            <div id="order-indicator" class="order-indicator"><text></text></div>
            <div> 
                <a asp-controller="Basket" asp-action="GetBasket"><img src="~/img/shoppingcart_77968.png" width="50" title="Корзина" /></a>
            </div>
            
        </div>
        <div>
            <ul class="account-list">
                <li>
                    <a class="nav-link text-decoration-underline" asp-controller="Account" asp-action="RegisterUser">Регистрация</a>
                </li>
                <li>
                    <a class="nav-link text-decoration-underline" asp-controller="Account" asp-action="SignIn">Войти</a>
                </li>
                @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="nav-link text-decoration-underline" asp-controller="Account" asp-action="SignOut">Выход</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="nav-container color">
            <div class="container-fluid">
                <div>
                    <ul class="nav">
                        <li>
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                    Категории
                                </a>
                                <ul id="categoryDropDown" class="dropdown-menu"></ul>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Книги</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Авторы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>