<header>
    <div class="logo-container">
        <div>
            <a class="navbar-brand text-dark"
               asp-area=""
               asp-controller="Home"
               asp-action="Index" style="font-size: 30px;">
                <img src="~/img/logo.png" width="100" />
                <strong>BOOK</strong>STORE
            </a>
        </div>
        <div>
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" 
                    placeholder="Поиск книги или автора" aria-label="Search" 
                    aria-describedby="search-addon" />
                <span class="input-group-text border-0">
                    <a asp-controller="Book" asp-action="GetBook"><img src="~/img/search-ico.png" width="30" /></a>
                </span>
            </div>
        </div>
        <div>
            <ul class="nav">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index" 
                               class="nav-link text-decoration-underline" 
                               title="Личный кабинет">
                                <img src="~/img/admin-ico.jpg" width="50" title="Личный кабинет"/>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link text-decoration-underline">Личный кабинет</a>
                        </li>
                    }
                    
                }
                <li>
                    <a class="nav-link text-decoration-underline"
                       asp-controller="Account" asp-action="RegisterUser">Регистрация</a>
                </li>
                <li>
                    <a class="nav-link text-decoration-underline"
                       asp-controller="Account" asp-action="SignIn">Войти</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="btn btn-outline-danger"
                           asp-controller="Account" asp-action="SignOut">Выход</a>
                    </li>
                }    
            </ul>
        </div>
    </div>
    <nav class="nav-container color">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="nav">
                    <li>
                        <a class="nav-link text-dark" asp-area=""
                           asp-controller="Book" asp-action="Index">Книги</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area=""
                           asp-controller="Author" asp-action="Index">Авторы</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>