<header>

    <div class="logo-container">
        <div>
            <a class="navbar-brand text-dark"
               asp-area=""
               asp-controller="Home"
               asp-action="Index" style="font-size: 30px;">
                <img src="~/img/logo.png" width="100" title="Главная страница" alt="logo.ico" />
                <strong>BOOK</strong>STORE
            </a>
        </div>
        <div>
            <form asp-controller="Book" asp-action="GetFilteredBooks" method="post">
                <span class="input-group rounded">
                    <input id="search-books" type="search" name="key" class="form-control rounded"
                           placeholder="Введите название книги или автора" style="min-width:360px;" />
                    <button type="submit">
                        <img src="~/img/search-ico.png" width="30" title="Поиск" alt="search.ico" />
                    </button>
                </span>
            </form>
        </div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <a class="personal-account" asp-controller="Admin" asp-action="Index"
                       title="Личный кабинет">
                        <img src="~/img/admin-ico.jpg" width="50" title="Личный кабинет" />
                    </a>

                }
                else
                {
                    <a class="nav-link text-decoration-underline">Личный кабинет</a>
                }
            }
        </div>
        <div>
            <a><img src="~/img/shoppingcart_77968.png" width="50" title="Корзина" /></a>
        </div>
        <div>
            <ul class="account-list">
                <li>
                    <a class="nav-link text-decoration-underline"
                       asp-controller="Account" asp-action="RegisterUser">Регистрация</a>
                </li>
                <li>
                    <a class="nav-link text-decoration-underline"
                       asp-controller="Account" asp-action="SignIn">Войти</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="nav-link text-decoration-underline"
                           asp-controller="Account" asp-action="SignOut">Выход</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="nav-container color">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav">
                        <li>
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Book" asp-action="Index">Книги</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Author" asp-action="Index">Авторы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>